body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

.header {
  text-align: center;
  padding: 20px;
}

.header img {
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.banner-text {
  background-color: #006400; /* verde */
  color: white;
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
}

.livre {
  color: #ff0000;
  font-weight: bold;
}
.justo {
  color: #0000ff;
  font-weight: bold;
}
.patriota {
  color: #ffd700;
  font-weight: bold;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 10px;
}

.row div {
  flex: 1;
}

button {
  background-color: #006400;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #004d00;
}
